.current-weather-display {
    /* margin-left: 5%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* float: left; */
}

.weatherDisplayCard {
    /* margin-left: 5%; */
    /* float: left; */
}

